body {
}

div .container {
  padding: 0;
  margin: 0;
  display: flex;
  /*justify-content: center;*/
  width: auto;
}

div .col {
  padding: 0;
}

.tracy1 {
  opacity: 0.2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tracy2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tracy1,
.tracy2 {
  width: 800px;
  height: 700px;
}

.name-text {
  margin-top: -665px;
  /*margin-left: 100px;*/
  font-family: "kunstler Script";
  font-size: 70px;
  font-weight: 900;
  color: #44043e;
  text-align: center;
}

.about {
  width: 90%;
  margin-left: 30px;
}

.about p {
  font-family: "Poppins", sans-serif;
}

.hits {
  font-family: "Poppins", sans-serif;
}

.heading {
  font-size: 32px;
  font-weight: 500;
  margin-left: 65px;
}

.hit-songs {
  list-style: none;
  padding: 0;
  margin-left: 65px;
}

li {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 500;
}

.listen-text {
  margin-top: -100px;
  color: white;
  margin-left: 128px;
  font-size: 32px;
  font-weight: 500;
}

.listen-text p {
  margin-bottom: 0;
}

.spotify {
  color: #1fdf64;
  margin-left: -67px;
  margin-bottom: 17px;
}

.youtube {
  color: #ff0000;
  margin-bottom: 15px;
  margin-left: 23px;
}

a svg {
  margin-bottom: 36px;
  margin-left: 23px;
}

.itunes {
  width: 31px;
  margin-left: 23px;
  margin-bottom: 34px;
}

.soundcloud {
  width: 45px;
  margin-left: 23px;
  margin-bottom: 30px;
}

.deezer {
  width: 31px;
  margin-left: 23px;
  margin-bottom: 36px;
}

.tidal {
  width: 31px;
  margin-left: 23px;
  margin-bottom: 35px;
  background-color: white;
  border-radius: 50%;
}

@media (max-width: 900px) {
  div .container {
    display: block;
  }
}
